/*===== GOOGLE FONTS =====*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@300&family=Work+Sans&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Font weight =====*/
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colores =====*/
  --dark-color: #141414;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #f2f2f2;
  --white-color: #fff;
  --footer-color: #f1f1f1;
  --active-color: #fc4401;

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  /* font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif; */
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;

  /*===== Margines =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--dark-color);
  line-height: 1.6;
  height: 100vh;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 5rem 2rem 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1rem;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}

/*===== LAYOUT =====*/

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* background-color: var(--dark-color-lighten); */
  background-color: steelblue;
  padding: 0 2.5rem;
}

.bd_grid {
  max-width: 1440px;
  display: grid;
  /* grid-template-columns: 100%; 
  row-gap: 2rem;  */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin: 0 2.5rem;
}

.icons {
  display: flex;
}
.icon {
  width: 2rem;
  height: 1.3rem;
  margin-left: 1rem;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav_shop {
  font-size: 1.3rem;
  cursor: pointer;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  position: relative;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--active-color);
}

/*Change color header*/
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== HOME =====*/
.home {
  background-color: var(--dark-color-lighten);
  overflow: hidden;
}

.home__container {
  height: calc(100vh - var(--header-height));
}

.home__sneaker {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.home__shape {
  width: 220px;
  height: 220px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

.home__img {
  position: absolute;
  top: 1.5rem;
  max-width: initial;
  width: 275px;
  transform: var(--rotate-img);
}

.home__new {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.home__title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-6);
}

/* ===== LOREM ===== */

.l_main {
  background-color: var(--dark-color);
  padding-left: 2.5rem;
  overflow: hidden;
  /* height: 160vh; */
}
.info-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(50%, min-content)); */
  grid-template-columns: repeat(2, 50vw);
  /* grid-template-rows: repeat(auto-fit, minmax(20%, min-content)); */
  grid-template-rows: repeat(3, 60vh);
  /* grid-auto-flow: row; */
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  grid-template-areas:
    'transform transform-image'
    'stand-out-image stand-out'
    'graphic-design photography';
}

.image_container {
  width: 680px;
  height: 460px;
}

.transform {
  grid-area: transform;
  color: var(--white-color);
  /* background-color: red; */
}

.transform-image {
  grid-area: transform-image;
  justify-self: flex-end;
  align-self: flex-end;
}

.stand-out-image {
  grid-area: stand-out-image;
}

.stand-out {
  grid-area: stand-out;
  color: var(--white-color);
}

.graphic-design {
  grid-area: graphic-design;
}

.photography {
  grid-area: photography;
  padding-right: 2.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25% 10%;
  font-family: var(--ff-Fraunces);
}

.text-container h2 {
  font-size: var(--fontSize-x25-large);
  font-weight: var(--fontWeight-Fraunces-900);
  color: var(--color-very-dark-desaturated-blue);
  max-width: 15ch;
}

.text-container p {
  font-size: var(--ff-Barlow);
  font-weight: var(--fontWeight-Barlow-600);
  color: var(--color-dark-grayish-blue);
  max-width: 42ch;
}

/* ===== PRODUCTS ===== */

.products {
  padding: 5rem 2.5rem;
}
/* .products_items {
  row-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
} */
.products_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: start;
  letter-spacing: 0.1rem;
}

.product_grid {
  display: grid;
  width: fit-content;
}
.product_grid > * {
  grid-area: 1 / -1;
}
.item_product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.item_product:hover {
  transform: translateY(-0.3rem);
}

.product_img {
  max-width: 100%;
  min-height: 410px;
  margin-bottom: var(--mb-2);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.product_label_shipping {
  /* place-items: y/x; */
  position: absolute;
  letter-spacing: 0.1rem;
  /* font-size: var(--h2-font-size); */
  left: 1.5rem;
  border-radius: 0.25rem;
  justify-self: end;
  align-self: start;
  margin-block-start: 1rem;
  padding: 0.25rem 0.5rem;
  background: var(--white-color);
}

.card_info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.product_name,
.product_price {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
  letter-spacing: 0.1rem;
  font-weight: var(--font-bold);
}

.product_stars {
  display: flex;
  margin-bottom: var(--mb-1);
}
.product_star {
  width: 1.5rem;
  height: 1.5rem;
}

/*===== FOOTER =====*/
.footer {
  background-color: var(--footer-color);
  /* max-height: 25vh; */
}
.footer__container {
  padding: 1rem 5rem;
}
.footer_grid {
  display: grid;
  grid-template-columns: 2fr repeat(2, 0.6fr);
  column-gap: 3rem;
  grid-template-rows: repeat(2.5, 1fr) 0.4fr;
}
.one {
  grid-column: 1/2.5;
  padding-left: 3rem;
}
.two {
  grid-column: 2.5/3.5;
}
.three {
  grid-column: 3.5/5;
}
.four {
  grid-column: 1/-1;
}

.footer__box {
  margin-bottom: var(--mb-4);
}

.footer_logo_container {
  position: relative;
}
.footer_logo {
  position: absolute;
  left: -11%;
  top: -10%;
  background-image: url('./assets/images/logo_lg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 60%;
  color: var(--white-color);
  height: 12rem;
}
.footer_input_container {
  display: flex;
}
.footer_input {
  width: 80%;
  margin-bottom: var(--mb-4);
  padding-bottom: var(--mb-2);
  border: 0;
  display: inline-block;
  background-color: inherit;
  border-bottom: 1px solid #c4c4c4;
}

.footer__title {
  font-size: var(--big-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-4);
}

.footer_icon {
  margin-left: -2rem;
}

.footer__link {
  display: block;
  width: max-content;
  margin-bottom: var(--mb-1);
}

.footer__social {
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.footer__copy {
  /* padding: 1rem 0; */
  margin: 2rem 0 -1rem;
  font-size: var(--smaller-font-size);
  color: var(--dark-color-light);
  text-align: center;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px) {
  .collection__container {
    grid-template-columns: 415px;
  }

  .collection__img {
    width: 260px;
  }

  .offer__container {
    grid-template-columns: max-content max-content;
  }

  .offer__data {
    text-align: center;
  }

  .new__mens {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  /* .section {
    padding: 7rem 0 3rem;
  } */

  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }
  .home__sneaker {
    order: 1;
  }
  .home__shape {
    width: 376px;
    height: 376px;
  }
  .home__img {
    width: 470px;
    top: 3.5rem;
    right: 0;
    left: -3rem;
  }

  .newsletter__container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }
  .newsletter__description {
    margin-bottom: 0;
  }
  .newsletter__subscribe {
    width: 360px;
    height: max-content;
  }
}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    column-gap: 8rem;
  }

  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }

  .new__container {
    grid-template-columns: max-content 1fr;
  }
  .new__mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }
  .new__mens-img {
    margin-bottom: var(--mb-6);
  }
}
