/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300&family=Work+Sans&display=swap');
/*===== ARCA MAJORA 3 FONTS =====*/
@font-face {
  font-family: 'ArcaMajora3';
  src: url('../css/fonts/ArcaMajora3-Bold.eot');
  src: local('☺'), url('../css/fonts/ArcaMajora3-Bold.woff') format('woff'),
    url('../css/fonts/ArcaMajora3-Bold.ttf') format('truetype'),
    url('../css/fonts/ArcaMajora3-Bold.svg') format('svg');
  font-weight: 700;
  font-style: bold;
}
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Font weight =====*/
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colores =====*/
  --dark-color: #141414;
  --light-color: #8a8a8a;
  --lighter-color: #f2f2f2;
  --white-color: #fff;
  --footer-color: #f1f1f1;
  --active-color: #fc4401;

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  /* font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif; */
  --smallest-font-size: 0.75rem;
  --smaller-font-size: 0.875rem;
  --normal-font-size: 0.938rem;
  --big-font-size: 1.25rem;
  --h2-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --info-text-distance: 1.5625rem;
  --biggest-font-size: 2rem;
  --big-grid-size: 2.5rem;

  /*===== Margines =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mr-4: 1.75rem;
  --mb-4: 2rem;
  --mr-5: 2.25rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--dark-color);
  line-height: 1.6;
  height: 100vh;
  max-width: 1440px;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
/* .section {
  padding: 5rem 2rem 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1rem;
  color: red;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
} */

/*===== LAYOUT =====*/

.header_container {
  /* height: 5.75rem; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  position: fixed;
  /* margin-bottom: 3rem; */
}

/* .header_body {
  display: flex;
  min-height: 5.75rem;
  align-items: center;
} */

.header_top {
  height: var(--header-top);
  background-color: var(--white-color);
  font-weight: var(--font-light);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2rem;
}

.header_main {
  display: grid;
  grid-template-columns: 100%;
  padding: 0 2.5rem;
}

.icons {
  display: flex;
}
.icon {
  width: 2rem;
  height: 1.3rem;
  margin-left: 1rem;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: steelblue;
  border-bottom: 1px solid gold;
  z-index: var(--z-fixed);
  color: honeydew;
}

@media screen and (max-width: 992px) {
  .nav_menu {
    position: fixed;
    top: 5.75rem;
    left: -100%;
    width: 40%;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--light-color);
    transition: 0.5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
}

.logo {
  display: inline-flex;
  /* font-weight: var(--font-semi-bold); */
  /* background-color: yellow; */
}

.nav_toggle,
.nav_shop {
  font-size: 1.3rem;
  cursor: pointer;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  position: relative;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--active-color);
}

/*Change color header*/
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1 1 auto;
  min-width: 100%;
}

/* ===== INFO ===== */

.info_container {
  height: 100vh-5.75rem;
  padding: 4rem 2.5rem;
  background-color: var(--dark-color);
}

.info_items {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  justify-self: stretch;
}

.info_items > div:nth-child(4) > p,
.info_items > div:nth-child(4) > ul > li {
  margin: auto auto 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 68%;
  font-size: var(--mb-2);
  font-family: ArcaMajora3;
  font-style: bold;
  font-weight: 500;
}
.text_container > ul {
  display: flex;
  flex-direction: column;
  /* margin-top: auto; */
  margin-bottom: auto;
}

.image_container {
  position: relative;
  padding: 0 0 85% 0;
}
.dumbbell {
  margin-left: 6%;
}
.text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--white-color);
}
.text_container h2 {
  font-size: var(--mb-4);
}
.text_container p {
  font-size: var(--smaller-font-size);
}
.info_items > div:nth-child(5) > h2 {
  font-size: var(--mb-5);
  font-weight: var(--font-bold);
  max-width: 50%;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 58px;
  letter-spacing: 0.18rem;
}
.image_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_items > div:nth-child(2) > img {
  margin-right: -50%;
}

/* .image_container .elipsis {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  opacity: 0.1;
  border: 100px solid;
}

.image_container .elipsis::after {
  content: '';
  inset: 50rem;
  width: 70%;
  height: 80%;
  border-radius: 50%;
  opacity: 0.1;
  border: 10px solid var(--white-color);
  box-shadow: 5px 5px red;
} */

/* Products */

.products_container {
  padding: 2.5rem;
}
.products_title {
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  margin-bottom: 2.625rem;
}
.products_items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
}

.product_item {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template: minmax(15rem, 1fr) 6rem / 1fr;
  cursor: pointer;
}

.product_img_container {
  position: relative;
}
.load_img {
  background: url('../images/loading.gif') center / 50px no-repeat;
}
.label_red {
  background-color: red;
}
.product_label_shipping {
  position: absolute;
  letter-spacing: 0.1rem;
  left: 1rem;
  top: 1rem;
  box-sizing: border-box;
  padding: 0.1rem 0.5rem;
  background: var(--white-color);
  /* font-size: calc(var(--smallest-font-size) * (100vw / 1440)); */
  font-size: var(--smallest-font-size);
  font-weight: var(--font-light);
  line-height: var(--big-font-size);
}

.product__info {
  max-width: 6rem;
}

.product_name {
  font-size: var(--smallest-font-size);
  font-weight: var(--font-light);
  line-height: var(--big-font-size);
}
.product_stars {
  margin-top: var(--mb-1);
  display: flex;
}
.product_price {
  display: inline-block;
  margin-top: var(--mb-1);
  color: red;
}

/* Slider */
.test {
  display: none;
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slider {
  position: relative;
  padding: 20px 100px;
}

.slide {
  text-align: center;
  flex: 1 auto;
}

.slide img {
  height: 250px;
  width: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-fixed);
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
  outline: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/icons/arrow_backward.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../images/icons/arrow_forward.svg') 0 0 / 100% no-repeat;
}

.slider .slick-loading {
  background: url('../images/loading_mini.gif') center center no-repeat;
}

/* FOOTER */
.footer {
  min-height: 27rem;
  background-color: var(--footer-color);
  padding: 2.5rem 2.5rem 0;
}

.footer_items {
  display: grid;
  column-gap: 1rem;
  grid-template: minmax(10vh, 1fr) 0.3fr / 1fr 0.5fr 0.5fr;
}
.one {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.four {
  grid-column: 1 / span 4;
  margin-top: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.5rem;
}

.minus_icon {
  display: none;
}
.footer_logo_container {
  position: relative;
}
.footer_logo {
  position: absolute;
  left: -5.5rem;
  top: -2.5rem;
  background-image: url('../images/logo_lg.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% auto;
  width: 60%;
  height: 12rem;
}

.footer_input_container {
  display: flex;
  /* justify-content: space-around; */
}
.footer_input {
  width: 75%;
  padding-bottom: var(--mb-1);
  border: 0;
  display: inline-block;
  background-color: inherit;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
}

.footer_icon {
  margin-left: -3rem;
}

.social_icons {
  margin-top: 1.75rem;
  margin-left: -1.5rem;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 320px) {
  .product_label_shipping {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .icon_account,
  .icon_search {
    display: none;
  }
  .icon_bag {
    margin: 0;
  }

  .dumbbell {
    margin-left: 10%;
  }

  .product_label_shipping {
    /* font-size: calc(12px * (100vw - 320px / 1440));
    line-height: calc(12px * (100vw - 320px / 1440)); */
    left: 0.3rem;
    top: 0.1rem;
    margin-block-start: 0.5rem;
    max-width: 120%;
  }
  .slider {
    padding: 20px 50px;
  }

  .slide img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 767px) {
  /* nav_menu {
  } */
  .nav_link {
    color: var(--white-color);
    background-color: var(--dark-color-light);
  }
  /* .products_items {
    column-gap: 1rem;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  .products_title {
    font-size: var(--smaller-font-size);
    line-height: 1.5rem;
    margin-bottom: 1rem;
  } */
  .products_container {
    display: none;
  }
  .test {
    display: block;
    padding: 2rem;
  }
  .slider .slick-arrow {
    width: 15px;
    height: 30px;
  }
  .footer_items {
    row-gap: 1rem;
    grid-template: 1fr 1fr 1fr 0.3fr / 1fr 1fr;
    grid-template-areas: 'one one' 'two two' 'three three ' 'four four';
  }
  .one {
    grid-area: one;
    margin-left: 0;
  }
  .two {
    grid-area: two;
    margin-bottom: 1rem;
  }
  .three {
    grid-area: three;
    margin-bottom: 1rem;
  }
  .four {
    grid-area: four;
    margin-top: 0;
  }
  .footer_icon {
    margin-left: 0;
  }
  .footer_logo {
    left: 15%;
    top: 35rem;
    width: 70%;
    height: 10rem;
  }
  .footer_title_container {
    display: flex;
    justify-content: space-between;
  }
  .minus_icon {
    display: block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  /* .section {
      padding: 7rem 0 3rem;
    } */

  .section-title::after {
    width: 76px;
  }
  .header_top {
    height: calc(var(--header-top) + 1rem);
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  /* .nav_menu {
      margin-left: auto;
    } */
  .nav__list {
    display: flex;
  }
  .nav_item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
  .dumbbell {
    margin-left: 5%;
  }
}
@media screen and (max-width: 992px) {
  body {
    margin: 0;
  }
  .nav_toggle {
    display: block;
  }
  .info_items {
    padding-top: 3rem;
    grid-template-columns: minmax(auto, 1fr);
  }
  .info_items > div:nth-child(5) > h2,
  .info_items > div:nth-child(4) > p,
  .info_items > div:nth-child(4) > ul > li {
    max-width: 100%;
  }
  .dumbbell {
    margin-left: 3%;
  }
}

@media screen and (max-width: 1200px) {
  /* .products_items {
    grid-template-columns: repeat(3, minmax(32%, 1fr));
  } */
}
@media screen and (max-width: 1440px) {
  .header_main {
    margin-left: auto;
    margin-right: auto;
  }
  .dumbbell {
    margin-left: 5%;
  }
}
